[Unit]
Description="{{ process }}"
After=network.target
PartOf={{ process }}-controller.target

[Install]
WantedBy={{ process }}-controller.target

[Service]
Restart=always
RestartSec=10
TimeoutStopSec=70
User={{ pillar.elife.deploy_user.username }}
Environment="HOME=/home/{{ pillar.elife.deploy_user.username }}"
WorkingDirectory=/srv/journal-cms/web
ExecStart=/srv/journal-cms/vendor/bin/drush ai $I
